html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #0a1026;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif; }

@keyframes planetspin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
#space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  zoom: .5;
  overflow: hidden; }

#sun {
  width: 10em;
  height: 10em;
  background: #ffc902;
  border-radius: 50%;
  position: absolute; }

h1 {
  text-align: center;
  padding: 1em;
  color: white;
  position: absolute;
  left: 50%;
  font-size: 2em;
  transform: translateX(-50%); }

#mercury_orbit {
  position: absolute;
  width: 30em;
  height: 30em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -10em;
  top: -10em;
  box-sizing: border-box; }

#mercury_wrapper {
  animation-name: planetspin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 9.75em;
  top: 9.75em; }

#mercury {
  width: 3em;
  height: 3em;
  background: #676767;
  border-radius: 50%;
  transform: translateX(14.75em) rotate(90deg);
  position: absolute;
  top: 3.5em;
  left: 3.5em; }
  #mercury:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#venus_orbit {
  position: absolute;
  width: 50em;
  height: 50em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -20em;
  top: -20em;
  box-sizing: border-box; }

#venus_wrapper {
  animation-name: planetspin;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 19.75em;
  top: 19.75em; }

#venus {
  width: 4em;
  height: 4em;
  background: #dfd091;
  border-radius: 50%;
  transform: translateX(24.75em) rotate(90deg);
  position: absolute;
  top: 3em;
  left: 3em; }
  #venus:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#earth_orbit {
  position: absolute;
  width: 70em;
  height: 70em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -30em;
  top: -30em;
  box-sizing: border-box; }

#earth_wrapper {
  animation-name: planetspin;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 29.75em;
  top: 29.75em; }

#earth {
  width: 5em;
  height: 5em;
  background: #2e9cea;
  border-radius: 50%;
  transform: translateX(34.75em) rotate(90deg);
  position: absolute;
  top: 2.5em;
  left: 2.5em; }
  #earth:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#luna_orbit {
  position: absolute;
  width: 11em;
  height: 11em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -3em;
  top: -3em;
  box-sizing: border-box; }

#luna_wrapper {
  animation-name: planetspin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 5em;
  height: 5em;
  position: absolute;
  left: 2.75em;
  top: 2.75em; }

#luna {
  width: 1em;
  height: 1em;
  background: #838383;
  border-radius: 50%;
  transform: translateX(5.25em);
  position: absolute;
  top: 2em;
  left: 2em; }

#mars_orbit {
  position: absolute;
  width: 90em;
  height: 90em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -40em;
  top: -40em;
  box-sizing: border-box; }

#mars_wrapper {
  animation-name: planetspin;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 39.75em;
  top: 39.75em; }

#mars {
  width: 2.5em;
  height: 2.5em;
  background: #e48466;
  border-radius: 50%;
  transform: translateX(44.75em) rotate(90deg);
  position: absolute;
  top: 3.75em;
  left: 3.75em; }
  #mars:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#jupiter_orbit {
  position: absolute;
  width: 130em;
  height: 130em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -60em;
  top: -60em;
  box-sizing: border-box; }

#jupiter_wrapper {
  animation-name: planetspin;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 59.75em;
  top: 59.75em; }

#jupiter {
  width: 8em;
  height: 8em;
  background: #e4bdab;
  border-radius: 50%;
  transform: translateX(64.75em) rotate(90deg);
  position: absolute;
  top: 1em;
  left: 1em; }
  #jupiter:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#saturn_orbit {
  position: absolute;
  width: 150em;
  height: 150em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -70em;
  top: -70em;
  box-sizing: border-box; }

#saturn_wrapper {
  animation-name: planetspin;
  animation-duration: 75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 69.75em;
  top: 69.75em; }

#saturn {
  width: 6.5em;
  height: 6.5em;
  background: #e4d987;
  border-radius: 50%;
  transform: translateX(74.75em) rotate(90deg);
  position: absolute;
  top: 1.75em;
  left: 1.75em; }
  #saturn:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#uranus_orbit {
  position: absolute;
  width: 170em;
  height: 170em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -80em;
  top: -80em;
  box-sizing: border-box; }

#uranus_wrapper {
  animation-name: planetspin;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 79.75em;
  top: 79.75em; }

#uranus {
  width: 5.8em;
  height: 5.8em;
  background: #65dbe4;
  border-radius: 50%;
  transform: translateX(84.75em) rotate(90deg);
  position: absolute;
  top: 2.1em;
  left: 2.1em; }
  #uranus:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

#neptune_orbit {
  position: absolute;
  width: 190em;
  height: 190em;
  background: none;
  border: 0.25em dashed white;
  border-radius: 50%;
  left: -90em;
  top: -90em;
  box-sizing: border-box; }

#neptune_wrapper {
  animation-name: planetspin;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 89.75em;
  top: 89.75em; }

#neptune {
  width: 5.2em;
  height: 5.2em;
  background: #3e82e4;
  border-radius: 50%;
  transform: translateX(94.75em) rotate(90deg);
  position: absolute;
  top: 2.4em;
  left: 2.4em; }
  #neptune:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 500px 500px 0 0; }

/*# sourceMappingURL=styles.css.map */
