@import "CSS/_reset";

$sunsize:10em;
$orbitstroke: .25em;
// NORMAL

body{
  background: #0a1026;
  height:100vh;
  overflow: hidden;
  font-family: sans-serif;
}

@keyframes planetspin {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

#space{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  zoom: .5;
  overflow: hidden;
}

#sun{
  width: $sunsize;
  height: $sunsize;
  background: #ffc902;
  border-radius: 50%;
  position:absolute;
}

h1{
  text-align: center;
  padding: 1em;
  color: white;
  position: absolute;
  left: 50%;
  font-size: 2em;
  transform: translateX(-50%);

}

//planets import
@import "css/planets/mercury";
@import "css/planets/venus";
@import "CSS/planets/earth";
@import "css/planets/mars";
@import "css/planets/jupiter";
@import "css/planets/saturn";
@import "css/planets/uranus";
@import "css/planets/neptune";