@import "CSS/_reset";

$sunsize:20em;
// NORMAL

body{
  background: #0a1026;
  height:100vh;
}

@keyframes planetspin {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

#space{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  zoom: 1;
  overflow: hidden;
}

#sun{
  width: $sunsize;
  height: $sunsize;
  background: #ffc902;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  position:absolute;
}

h1{
  text-align: center;
  padding: 2em;
}

//planets import
@import "CSS/planets/earth";
@import "css/planets/mars";