@keyframes lineanim {
  from {
    transform:translateX(100%);
  }
  to {
    transform:translateX(-100%);
  }
}
@keyframes counterspin{
  from{
    transform:translate(0) rotate(270deg);
  }
  to{
    transform:translate(0) rotate(-90deg);
  }
}
.clouds{
  width: $planetsize;
  height: $planetsize;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  animation-name:counterspin;
  animation-duration: $orbittime;
  animation-delay: $orbit-delay;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud_wrap{
  width:100%;
  animation-name: lineanim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.18, 0.01, 0.8, 0.99);
  &.c1{
    animation-delay: -2.5s;
  }
  &.c2{

    animation-delay: -6.5s;
  }
  &.c3{

    animation-delay: -9.8s;
  }
  &.c4{

    animation-delay: -9.5s;
  }
  &.c5{

    animation-delay: -2.5s;
  }
}

.cloud{
  position: relative;
  height:.75em;
  border-radius:1em;
  background:#fff;
  &.c1{
    width: 3em;
    top: .25em;
    left: 2em;
    animation-delay: -2.5s;
  }
  &.c2{
    width: 2em;
    top: .25em;
    left: 2em;
    animation-delay: -6.5s;
  }
  &.c3{
    width: 1em;
    top: .25em;
    left: 3.1em;
    animation-delay: -9.8s;
  }
  &.c4{
    width: 2em;
    top: .1em;
    left: 2.4em;
    animation-delay: -9.5s;
  }
  &.c5{
    width: 2em;
    top: .25em;
    left: 1em;
    animation-delay: -2.5s;
  }
}

.islands{
  width: $planetsize;
  height: $planetsize;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  animation-name:counterspin;
  animation-duration: $orbittime;
  animation-delay: $orbit-delay;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.island_wrap{
  width:100%;
  animation-name: lineanim;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &.i1{

    animation-delay: -15s;
  }
  &.i2{

    animation-delay: -9s;
  }
  &.i3{

    animation-delay: -40.8s;
  }
  &.i4{

    animation-delay: -57s;
  }
  &.i5 {

    animation-delay: -21s;
  }
}

.island{
  position: relative;
  height:1.25em;
  border-radius:1em;
  background: #6ece4f;

  &.i1{
    width: 3em;
    top: .25em;
    left: 2em;
    animation-delay: -15s;
  }
  &.i2{
    width: 2em;
    top: -.5em;
    left: 2.5em;
    animation-delay: -9s;
  }
  &.i3{
    width: 3em;
    top: -1em;
    left: 2em;
    animation-delay: -40.8s;
  }
  &.i4{
    width: 2em;
    top: -.3em;
    left: 2em;
    animation-delay: -57s;
  }
  &.i5{
    width: 1.25em;
    top: -1em;
    left: 2em;
    animation-delay: -21s;
  }
}