$planetname:earth;
$planetorder:3;
$planetsize:5em;
$orbitsize:$planetorder*10+10;
$planetcolour:#2e9cea;
$orbittime:30s;

##{$planetname}_orbit{
  position: absolute;
  width: $orbitsize+em;
  height: $orbitsize+em;
  background: none;
  border: $orbitstroke dashed white;
  border-radius:50%;
  left: - (($orbitsize /2) - ($sunsize / 2));
  top: - (($orbitsize /2) - ($sunsize / 2));
  box-sizing: border-box;
}

##{$planetname}_wrapper{
  animation-name: planetspin;
  animation-duration: $orbittime;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  width:$sunsize;
  height:$sunsize;
  position: absolute;
  left:($orbitsize / 2) - ($sunsize / 2 ) - $orbitstroke;
  top: ($orbitsize / 2) - ($sunsize / 2 ) - $orbitstroke;
}

##{$planetname}{
  width: $planetsize;
  height: $planetsize;
  background: $planetcolour;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius:500px;
  transform:translateX(($orbitsize / 2) - $orbitstroke);
  position: absolute;
  top: ($sunsize / 2) - ($planetsize / 2);
  left: ($sunsize / 2) - ($planetsize / 2);
}

/*moon -----------------------------

#moon_orbit{
  position: absolute;
  width: 10em;
  height:10em;
  background: none;
  border: .25em dashed white;
  border-radius:50%;
  left: -2.5em;
  top: -2.5em;
  box-sizing: border-box;
}

#moon_wrapper{
  animation-name: planetspin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width:$earthsize;
  height:$earthsize;
  position: absolute;
  left: 2.25em;
  top: 2.25em;
}

#moon{
  width: 1em;
  height: 1em;
  background: #a0a0a0;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius:500px;
  transform:translateX(5em);
  position: absolute;
  top: 2em;
  left: 2em;
}

*/