$planetname:earth;
$planetorder:3;
$planetsize:5em;
$planetcolour:#2e9cea;
$orbittime:365.2s;

@import "planetstyles";

$moonname:luna;
$moonorder: 1;
$moonsize: 1em;
$mooncolour: #838383;
$moonorbittime:27.3s;

@import "moonstyles";
