$orbitsize:$planetorder*20+10;

##{$planetname}_orbit{
  position: absolute;
  width: $orbitsize+em;
  height: $orbitsize+em;
  background: none;
  border: $orbitstroke solid rgba(255, 255, 255, 0.2);
  border-radius:50%;
  left: - (($orbitsize /2) - ($sunsize / 2));
  top: - (($orbitsize /2) - ($sunsize / 2));
  box-sizing: border-box;
}

##{$planetname}_wrapper{
  animation-name: planetspin;
  animation-duration: $orbittime;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -918955s;
  width:$sunsize;
  height:$sunsize;
  position: absolute;
  left:($orbitsize / 2) - ($sunsize / 2 ) - $orbitstroke;
  top: ($orbitsize / 2) - ($sunsize / 2 ) - $orbitstroke;
}

##{$planetname}{
  width: $planetsize;
  height: $planetsize;
  background: $planetcolour;
  border-radius:50%;
  transform:translateX(($orbitsize / 2) - $orbitstroke) rotate(90deg);
  position: absolute;
  top: ($sunsize / 2) - ($planetsize / 2);
  left: ($sunsize / 2) - ($planetsize / 2);
  &:after {
    content: close-quote;
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    border-radius: 500px 500px 0 0;
  }
}